---
import Miembro from './Miembro.astro';

interface Props {
    miembros: Array<{
        nombre: string,
        cargo: string,
        img?: string,
        rol: string
    }>
}

const { miembros } = Astro.props;
---

<div class="overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th>Miembro</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>

            {miembros.map(miembro => (
                <tr>
                    <td>
                        <Miembro miembro={miembro} />
                    </td>
                    <td>{miembro.cargo}</td>
                </tr>    
            ))}

        </tbody>
    </table>
</div>