---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="GIDEMI - Contactanos">
    <h1>Contactanos</h1>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5130.1643992445825!2d-79.40815914966555!3d9.066838378326736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fab5517a74609eb%3A0xed4f587d4755f81d!2sUniversidad%20Tecnol%C3%B3gica%20de%20Panam%C3%A1%20Sede%20Tocumen!5e1!3m2!1ses-419!2spa!4v1730960579212!5m2!1ses-419!2spa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</Layout>