---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Publicaciones">
    <section class="my-40">
        <h1 class="text-4xl font-bold text-center font-titulos mb-2">Proyectos</h1>
    </section>
</Layout>