---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/inicio/Hero.astro';
import SeccionObjetivos from '../components/inicio/SeccionObjetivos.astro';
import SeccionMision from '../components/inicio/SeccionMision.astro';
import SeccionVision from '../components/inicio/SeccionVision.astro';
import SeccionGaleria from '../components/inicio/SeccionGaleria.astro';
---

<Layout title="GIDEMI - Proyectos">
	<section>
		<Hero />
	</section>

	<section class="mb-20">
		<SeccionObjetivos />
	</section>

	<section>
		<SeccionMision />
	</section>

	<section class="pb-20">
		<SeccionGaleria />
	</section>

	<section>
		<SeccionVision />
	</section>
</Layout>