<footer class="footer bg-base-200 text-base-content p-10">
    <aside>
        <div class="flex items-center gap-2">
            <figure>
                <img src="/logo.png" alt="logo" class="w-10">
            </figure>
            <h2 class="font-titulos text-xl font-bold">GIDEMI</h2>
        </div>
        <p>
            Grupo de Investigación del Estudio del Emprendimiento y la Innovación
            <br>
            Grupo - GIdEMI
        </p>
    </aside>
    <div class="flex items-center gap-2">
        <img src="/utp_logo.png" alt="utp" class="w-40">
        <img src="/cinemi_logo.png" alt="cinemi" class="w-40">
    </div>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
    </nav>
</footer>