<div class="hero h-[calc(100vh-68px)]" style="background-image: url(/images/BannerInicio.webp);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center">
        <div class="max-w-md text-white">
            <div class="flex gap-2 items-center mb-5 animate-bounce justify-center">
                <img src="/logo.png" alt="logo" class="w-20 sm:w-40">
                <h2 class="font-titulos text-5xl sm:text-8xl">GIDEMI</h2>
            </div>
            <p class="text-xl sm:text-2xl">Grupo de investigación estudio del emprendimiento y la innovación</p>
        </div>
    </div>
</div>

<!-- 
calc en tailwindcss
h-[calc(100vh-4rem)]
-->