---
const links = [
    { nombre: 'Inicio', url: '/' },
    { nombre: 'Miembros', url: '/miembros' },
    {
        nombre: 'Producción cientifica',
        submenus: [
            { nombre: 'Proyectos', url: '/proyectos' },
            { nombre: 'Publicaciones', url: '/publicaciones' }
        ]
    },
    { nombre: 'Contactanos', url: '/contactanos' }
];
---


<div class="navbar bg-base-100 fixed left-0 right-0 top-0 z-50">
    <div class="navbar-start">
        <a class="btn btn-ghost font-bold text-xl font-titulos flex items-center" href="/">
            <img src="/logo.png" alt="logo" class="w-5">
            <span class="block self-center">Gidemi</span>
        </a>
    </div>

    <div class="navbar-end">
        <ul class="menu menu-horizontal px-1 hidden lg:flex">
            { links.map(link => (
                <li>
                    { link.submenus ? (
                        <details>
                            <summary>{ link.nombre }</summary>
                            <ul class="p-2">
                                { link.submenus.map(submenu => (
                                    <li><a href={ submenu.url }>{ submenu.nombre }</a></li>
                                )) }
                            </ul>
                        </details>
                    ) : (
                        <a href={ link.url }>{ link.nombre }</a>
                    ) }
                </li>
            ))}
        </ul>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                { links.map(link => (
                    <li>
                        { link.submenus ? (
                            <details>
                                <summary>{ link.nombre }</summary>
                                <ul class="p-2">
                                    { link.submenus.map(submenu => (
                                        <li><a href={ submenu.url }>{ submenu.nombre }</a></li>
                                    )) }
                                </ul>
                            </details>
                        ) : (
                            <a href={ link.url }>{ link.nombre }</a>
                        ) }
                    </li>
                ))}
            </ul>
        </div>
    </div>
</div>