<div class="bg-primary px-10">
    <div class="flex flex-col md:flex-row xl:mx-32 gap-4">
        <figure class="md:w-4/5 w-full h-[500px] -translate-y-10">
            <img class="w-full h-full object-cover" src="/src/images/mision-hero.webp" alt="Mision">
        </figure>

        <div class="w-full md:py-10 pb-10">
            <h2 class="text-center text-4xl sm:text-6xl font-bold flex items-center gap-4 mb-2 text-slate-50 font-titulos">
                Misión
                <samp>
                    <svg class="w-14 h-14 fill-slate icon icon-tabler icons-tabler-filled icon-tabler-copy-check" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-target-arrow"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 7a5 5 0 1 0 5 5" /><path d="M13 3.055a9 9 0 1 0 7.941 7.945" /><path d="M15 6v3h3l3 -3h-3v-3z" /><path d="M15 9l-3 3" /></svg>
                </samp>
            </h2>
            <p class="sm:text-xl text-lg text-slate-50">
                Dinamizar la investigación en el estudio del emprendimiento y la innovación para generar, aportar y producir ciencia, vinculando a profesionales, instituciones, empresas, países y regiones a través del conocimiento.
            </p>
        </div>
    </div>
</div>