---
import ObjetivoCard from "./ObjetivoCard.astro";

const objetivos = [
    {
        titulo: 'Investigación en Emprendimiento e Innovación',
        imagen: '/images/objetivo1-hero.webp',
        descripcion: 'Desarrollo de proyectos de investigación con expertos locales e internacionales para generar conocimiento y fortalecer el emprendimiento e innovación en Panamá.'
    },
    {
        titulo: 'Formación de Nuevos Investigadores',
        imagen: '/images/objetivo2-hero.webp',
        descripcion: 'Capacitación y formación de nuevos investigadores, especialmente doctorandos, en el área del emprendimiento y la innovación.'
    },
    {
        titulo: 'Apoyo a Emprendedores',
        imagen: '/images/objetivo3-hero.webp',
        descripcion: 'Fomento del desarrollo de emprendedores innovadores, mediante la creación y transferencia de nuevos conocimientos desde la academia.'
    },
    {
        titulo: 'Divulgación Resultados de Investigaciones',
        imagen: '/images/objetivo4-hero.webp',
        descripcion: 'Difusión de investigaciones en congresos, ferias y eventos académicos tanto nacionales como internacionales.'
    },
    {
        titulo: 'Material Educativo',
        imagen: '/images/objetivo5-hero.webp',
        descripcion: 'Creación de manuales, monografías, libros de texto, guías y lecciones aprendidas que contribuyan al fomento de la cultura emprendedora y la innovación, orientados a la formación de emprendedores en la UTP y otras instituciones educativas.'
    },
    {
        titulo: 'Estudios Prospectivos',
        imagen: '/images/objetivo6-hero.webp',
        descripcion: 'Investigación utilizando la prospectiva para prever escenarios derivados de factores técnicos, científicos, económicos y sociales relacionados con el emprendimiento y la innovación.'
    },
    {
        titulo: 'Publicaciones Científicas',
        imagen: '/images/objetivo7-hero.webp',
        descripcion: 'Realización de investigaciones publicables en revistas indexadas y de alto impacto en la comunidad académica.'
    }
];
---


<div>
    
    <div class="mt-10 px-2">
        <h2 class="text-center font-bold text-4xl sm:text-6xl flex justify-center items-center gap-4 mb-2 font-titulos">
            Objetivos
            <samp>
                <svg class="w-14 h-14 fill-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-copy-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.333 6a3.667 3.667 0 0 1 3.667 3.667v8.666a3.667 3.667 0 0 1 -3.667 3.667h-8.666a3.667 3.667 0 0 1 -3.667 -3.667v-8.666a3.667 3.667 0 0 1 3.667 -3.667zm-3.333 -4c1.094 0 1.828 .533 2.374 1.514a1 1 0 1 1 -1.748 .972c-.221 -.398 -.342 -.486 -.626 -.486h-10c-.548 0 -1 .452 -1 1v9.998c0 .32 .154 .618 .407 .805l.1 .065a1 1 0 1 1 -.99 1.738a3 3 0 0 1 -1.517 -2.606v-10c0 -1.652 1.348 -3 3 -3zm1.293 9.293l-3.293 3.292l-1.293 -1.292a1 1 0 0 0 -1.414 1.414l2 2a1 1 0 0 0 1.414 0l4 -4a1 1 0 0 0 -1.414 -1.414" /></svg>
            </samp>
        </h2>    
        <p class="text-center sm:text-xl text-lg">Promover la investigación y divulgación de conocimientos en emprendimiento e innovación mediante un equipo multidisciplinario, impactando la academia y la sociedad.</p>
    </div>

    <div class="p-10 flex flex-wrap gap-10 justify-center">

        {objetivos.map(objetivo => (
            <ObjetivoCard objetivo={objetivo} />
        ))}

    </div>
    
</div>