---
import Layout from "../../layouts/Layout.astro";
import SeccionMiembros from "../../components/miembros/SeccionMiembros.astro";
---

<Layout title="GIDEMI - Miembros">
    <section class="my-40">
        <h1 class="text-4xl font-bold text-center font-titulos">Miembros</h1>
    </section>

    <section>
        <SeccionMiembros />
    </section>
</Layout>